.card {
    display: flex;
    flex-direction: column;
}

.card > div {
    padding: 10px 20px;
    
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.card > div > img {
    width: 200px;
    height: 300px;
}

.card > div > div {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.card > div > div > div:nth-of-type(1) {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.card > div > div > div:nth-of-type(2) {
    margin-bottom: 20px;

    display: flex;
    justify-content: space-between;
}

.card > div > div > div:nth-of-type(2) > div {
    text-align: center;

    display: flex;
    gap: 10px;
    flex-direction: column;
}
