:root {
    --main-color: rgb(232, 225, 219);
    --border-color: rgb(0, 0, 0);

    --header-color: rgb(54, 46, 35);
    --nav-color: rgb(58, 60, 38);
    --cart-color: rgb(109, 108, 60);
    --loader-color: rgb(169, 172, 93);

    --header-height: 80px;
}
