.shopContent {
  min-height: 0;

  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.scrollableContent {
  min-height: 0;
  padding: 0 40px;

  flex: 1 1 auto;
  display: flex;
  gap: 50px;
  flex-direction: column;

  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollableContent::-webkit-scrollbar {
  display: none;
}
